.header {
    text-align: center;
}

.grid-container {
    margin-top: 2%;
}

.show-saved>button {
    padding: 1%;
    font-weight: bold;
    font-size: 1.2em;
    background-color: rgb(132, 15, 236);
    color: #FFF;
    cursor: pointer;
    border: none;
}