<div class="comment">
    <div class="comment-image-container">
        <img src="../../../../assets/user_icon.png" />
    </div>
    <div class="comment-right-part">
        <div class="comment-content">
            <a routerLink="/user/{{comment.userId}}" class="comment-author">{{ comment?.userName }}</a>
            <div>{{ comment?.createdAt | date: 'MMM, d, y'}}</div>
        </div>
        <div class="comment-text" *ngIf="!isEditing()">{{ comment.content }}</div>
        <app-comment-form *ngIf="isEditing()" submitLabel="Update" [hasCancelButton]="true" [hasCancelButton]="true" [initialText]="comment.content" (handleSubmit)="updateComment.emit({content: $event, id: comment.id})" (handleCancel)="setActiveComment.emit(null)"></app-comment-form>
        <div class="comment-actions">
            <div *ngIf="canReply" class="comment-action" (click)="setActiveComment.emit({id: comment.id, type: 'replying'})">
                Reply
            </div>
            <div *ngIf="canEdit" class="comment-action" (click)="setActiveComment.emit({id: comment.id, type: 'editing'})">
                Edit
            </div>
            <div *ngIf="canDelete" class="comment-action" (click)="deleteComment.emit(comment.id)">
                Delete
            </div>
        </div>
        <app-comment-form *ngIf="isReplying()" submitLabel="Reply" [hasCancelButton]="true" (handleSubmit)="addComment.emit({content: $event, parentId: replyId})" (handleCancel)="setActiveComment.emit(null)"></app-comment-form>
        <div class="replies" *ngIf="replies.length > 0">
            <app-comment *ngFor="let reply of replies" [comment]="reply" (setActiveComment)="setActiveComment.emit($event)" [activeComment]="activeComment" (addComment)="addComment.emit($event)" (updateComment)="updateComment.emit($event)" (deleteComment)="deleteComment.emit($event)"
                [parentId]="comment.id" [replies]="[]" [currentUserId]="currentUserId"></app-comment>
        </div>
    </div>
</div>