<div class="container">
    <div class="link">
        <a routerLink="main" routerLinkActive="active">Main Page</a>
        <a *ngIf="userLoggedIn" routerLink="home-page" routerLinkActive="active">Home page</a>
        <a *ngIf="userLoggedIn" routerLink="add-text-material" routerLinkActive="active">Add text material</a>
    </div>
    <div class="link">
        <a *ngIf="!userLoggedIn" routerLink="login" routerLinkActive="active">Log in</a>
        <a *ngIf="!userLoggedIn" routerLink="signup" routerLinkActive="active">Sign up</a>
        <a *ngIf="userLoggedIn" (click)="onLogout()">Log out</a>
    </div>
</div>
