/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: rgb(40, 169, 241);
    background: linear-gradient(90deg, rgba(40, 169, 241, 1) 7%, rgba(52, 108, 184, 1) 84%);
}

.SUCCESS {
    background-color: rgb(42, 42, 175);
    border: 5px solid #FFF;
}

.ERROR {
    background-color: rgb(227, 179, 20);
    border: 5px solid #FFF;
}
