<form (ngSubmit)="onUpdate()" [formGroup]="textMaterialForm">
    <mat-dialog-content class="grid-container">
        <div class="create-text-material">
            Update a text material
        </div>
        <div class="input">
            <input class="input-item" type="text" placeholder="Enter a title" formControlName="title">
            <div class="error" *ngIf="submitted && title.errors">
                <div class="error" *ngIf="title.errors['required']">
                    This field is required
                </div>
            </div>
        </div>
        <div class="input">
            <input class="input-item" type="text" placeholder="Enter a category" formControlName="categoryTitle">
            <div class="error" *ngIf="submitted && category.errors">
                <div class="error" *ngIf="category.errors['required']">
                    This field is required
                </div>
            </div>
        </div>
        <div class="input">
            <ejs-richtexteditor [innerHtml]="data.textMaterial?.content" [toolbarSettings]="tools" formControlName="content">
            </ejs-richtexteditor>
            <div class="error" *ngIf="submitted && content.errors">
                <div class="error" *ngIf="content.errors['required']">
                    This field is required
                </div>
            </div>
        </div>
        <div class="btn">
            <button type="submit">Submit</button>
        </div>
    </mat-dialog-content>
</form>