<form (ngSubmit)="onUpdate()" [formGroup]="textMaterialForm">
    <mat-dialog-content class="grid-container">
        <div class="create-text-material">
            Update a text material
        </div>
        <div class="input">
            <input class="input-item" type="text" placeholder="Enter a title" formControlName="title">
        </div>
        <div class="input">
            <input class="input-item" type="text" placeholder="Enter a category" formControlName="categoryTitle">
        </div>
        <div class="input">
            <ejs-richtexteditor [innerHtml]="data.textMaterial?.content" [toolbarSettings]="tools" formControlName="content">
            </ejs-richtexteditor>
        </div>
        <div class="btn">
            <button type="submit">Submit</button>
        </div>
    </mat-dialog-content>
</form>