.header {
    display: flex;
    justify-content: space-between;
}

.info {
    margin-top: 1%;
}

.btn {
    background-color: #FFF;
    color: #000;
    cursor: pointer;
}

.prop {
    color: rgb(7, 220, 220);
}
