<div class="item" (mouseover)="onShow()" (mouseout)="onHide()">
    <div class="header">
        <span routerLink="/user/{{user.id}}">{{user?.email}}</span>
        <span>
          <button class="btn" (click)="assignRole()"><mat-icon>cached</mat-icon></button>
          <button class="btn" (click)="banOrUnban()"><mat-icon>lock</mat-icon></button>
        </span>

    </div>
    <div *ngIf="showInfo" class="info">
        <div>
            <span class="prop">Username: </span> {{user?.userName}}
        </div>
        <div>
            <span class="prop">Total count of text materials: </span> {{user?.textMaterials.length}}
        </div>
    </div>
</div>