<div>
    <p class="text">
        Welcome, {{userName}}
    </p>
    <div class="notifications">
        <label class="text">
        Receive email notifications when a text material is created, deleted, approved or rejected <input type="checkbox" [checked]="user?.receiveNotifications" (change)="toggleReceiveNotifications()">
        </label>
    </div>
</div>
<app-sorting-form [isHomePage]="true" (filter)="onFilter($event)"></app-sorting-form>
<div class=" grid-container ">
    <app-text-material *ngFor="let text of ownTextMaterials " [textMaterial]="text">
    </app-text-material>
</div>
<app-pagination [totalPages]="paginator?.TotalPages" (next)="onNextPage($event) " (previous)="onPreviousPage($event) " [isHomePage]="true"></app-pagination>